// Custom Boostrap 5 theme developed for Prysm Network's websites
// Copyright 2021 Prysm Network, Prysm Developers

// Theme Colors
$blue:    #255bfa;
$purple:  #6931f9;

// Navbar
$navbar-dark-color:       $white;
$navbar-dark-hover-color: $purple;
