// Custom Boostrap 5 theme developed for Prysm Network's websites
// Copyright 2021 Prysm Network, Prysm Developers

// Theme Colors
$white:   #fff;
$light:   #f8f9fa;
$dark:    #212529;
$blue:    #255bfa;
$purple:  #6931f9;

// Navbar
$navbar-dark-color:       $white;
$navbar-dark-hover-color: $purple;

// Buttons
$btn-border-radius: 2px;
$btn-border-radius-lg 2px;
$btn-border-width: 1px;

.btn-outline-light {
  color: $light;
}

.btn-outline-light:hover {
  color: $dark;
}

// Breadcrumbs
$breadcrumb-padding-x: 1rem;
$breadcrumb-padding-y: 0.5rem;
$breadcrumb-border-radius: 0.25rem;

// Links
$link-decoration: none;

// Cards
$card-border-width: 0px;

.card .card-header {
  border: none;
  background: $purple;
  color: $white;
}

.card .card-header a {
  color: $white;
}
